.fw-light {
  font-weight: $font-light;
}

.fw-regular {
  font-weight: $font-regular;
}

.fw-medium {
  font-weight: $font-medium;
}

.fw-semi-bold {
  font-weight: $font-semi-bold;
}

.fw-bold {
  font-weight: $font-bold;
}

.fw-extra-bold {
  font-weight: $font-extra-bold;
}