$primary: #FE9F43;
$secondary: #092C4C;
$dark: #1B2850;
$white: #ffffff;
$light: #F9FAFB;
$info: #155EEF;
$warning: #FFCA18;
$success: #28C76F;
$danger: #FF0000;
$cyan: #06AED4;
$indigo: #3538CD;
$orange: #E04F16;
$pink: #DD2590;
$purple: #6938EF;
$teal: #6938EF;

// Text 
$text-dark: #212B36;
$text-gray: #646B72;
$border: #E6EAED;


// FONT FAMILY
$font-primary: 'Nunito Sans', sans-serif;

// FONT WEIGHTS
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;