.bottom-footer {
  height: 55px;
  background: $white;

  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid $border;

  // position: fixed;
  bottom: 0;

  left: 260px; 
  right: 0;

  z-index: 99;

  .footer-left {
    color: $text-dark;
  }
  .footer-right {
    margin: 0;

    font-size: 14px;
    font-weight: 500;
    color: $text-gray;
  }

  .footer-right {
    span {
      color: $primary;
      font-weight: 700;
    }
  }
}