@import "../theme/variables";

.inventory-page-container {
  padding: 20px;
  border-radius: $radius;
  background: #f5f7fb;

  .chart-card {
    background: #fff;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 100%;

    .chart-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }

  .inventory-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
  }

  .inventory-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .search-container {
      position: relative;
      
      input {
          border: none;
          border-radius: 50px;
          background-color: $bg-light;
        padding-left: 35px;
      }

      .search-icon {
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    .status-filter {
      width: 120px;
      border: none;
      border-radius: 50px;
      background-color: $bg-main;
    }
  }

  .inventory-table {
    th {
      cursor: pointer;
      font-size: 13px;
      color: #888;
      background-color: $bg-main;
    }

    td {
      vertical-align: middle;
    }

    .item-image {
      width: 40px;
      height: 40px;
      border-radius: 6px;
    }

    .status-badge {
      padding: 4px 10px;
      border-radius: 12px;

      &.status-high {
        background: #fff3cd;
        color: #856404;
      }

      &.status-low {
        background: #d1ecf1;
        color: #0c5460;
      }

      &.status-outofstock {
        background: #f8d7da;
        color: #721c24;
      }
    }

    .stock-progress {
      display: flex;
      align-items: center;
      gap: 10px;

      .progress-bar {
        height: 6px;
        width: 60px;
        background: #0d6efd;
        border-radius: 4px;
      }
    }

    .edit-btn {
      border: none;
      background: #eee;
      padding: 6px;
      border-radius: 4px;

      &:hover {
        background: #ddd;
      }
    }
    .edit-btn2 {
      border: none;
      background: $primary;
      color: white;
      padding: 6px;
      border-radius: 4px;

      &:hover {
        background: #ddd;
      }
    }
  }
}