.box{
    width: 100px;
    height: 100px;
    background-color: #f005;
    margin-top: 20px;
    /* display: inline-block; */

}
.box1{
    transform: translate(10px 20px);
    /* transform: translateX(10px);
    transform: translateY(20px); */
    

}
.box2{
    /* transform: scale(1.2); */
    transform: scaleX(0.8);
    transform: scaleY(1.5);
}
.box3{
    transform: rotate(20deg);
    /* transform: rotateX(180deg); */
}
.box3 span{
    display: inline-block;
    transform: rotate(-20deg);
}
.box4{
    transform: skew(10deg);
}
.box5{
    /* transform: translate(20px) rotate(30deg) scale(1.3) ; */
    translate: 20px;
    rotate: 20deg;
    scale: 1.2;
    transition: scale .3s rotate 0.5;
    transition: all .3s;
}
.box5:hover{
    /* transform: rotate(0deg); */
    rotate: 0deg;
}
.box6{
    transform: rotate(45deg);
    /* transform-origin: 100% 0; */
    transform-origin: top right;
    transform-origin: bottom left;
}