*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: red;
    --secondary-color: blue;
    --body-color: black;
    --body-bg: gray;
    --link-color: yellow;
    /* --hover-color: rgb(15, 223, 15); */

}
body{
    color: var(--body-color);
    background: var(--body-bg);
}
.nav-link{
    color: var(--link-color);
}
.nav-link:hover{
    color: var(--hover-color, blue);        /*fall back value*/
}
